<div class="container" *ngIf="courseListTempList.length">
  <mat-paginator style="margin-right: 50px;" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[4, 8, 15, 50]"
    (page)="getServerData($event)" aria-label="Select page">
  </mat-paginator>
  <div class="courseContainer">
    <div *ngFor="let course of courseListTempList;let idx=index" class="courseCard">
      <app-course-card [course]="course"></app-course-card>
    </div>
  </div>
</div>
<div style="display: flex;justify-content: center;margin-top: 50px;" *ngIf="!courseListTempList.length">
    <div style="font-size: 22px;font-weight: 500;">No Record found</div>
  </div>