.courseContainer{
    display: flex;
    gap: 12px;
    padding: 20px;
    flex-wrap: wrap;
    margin: 10px 50px;
    .courseCard{
        border: 1px solid black;
        padding-block: 8px;
        padding-inline: 12px;
        flex-grow: 1;
    }
}

@media (min-width:361px) and (max-width:768px) {
    .courseContainer{
        margin: 0;
    }
    .courseCard{
        width: 50%;
    }
}

@media screen and (max-width:360px) {
    .courseContainer{
        margin: 0;
        padding: 5px;
    }
    .courseCard{
        width: 100% ;
    }
}