<p>landing-page works!</p>
<div class="courseContainer">
    <div *ngFor="let course of courseList" class="courseCard">
        <div class="courseHeader">
            <mat-icon>book</mat-icon>
            <div>
                <div>{{course.courseName}}</div>
                <div>{{course.author}}</div>
            </div>
        </div>
        <div class="price" >
            <div>
                <div>{{course.actualPrice}}</div>
                <div>{{course.discountPercentage}}</div>
            </div>
        </div>
        <div>
            <button mat-button color="primary">Primary</button>
        </div>
    </div>
</div>