
<div class="container">
    <div class="profile">
        <img src="https://picsum.photos/200" alt="" style="width: 100px;height: 100px; border-radius: 50%;">
    </div>
    <div class="inputs" style="display: flex;flex-direction: column;">
        <mat-form-field class="example-full-width">
            <mat-label>Display Name</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input [(ngModel)]="displayName" type="email" matInput placeholder="dummy@email.com">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <mat-icon matPrefix>mode_edit</mat-icon>
            <input [(ngModel)]="firstName" type="text" matInput placeholder="dummy@123">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Last name</mat-label>
            <mat-icon matPrefix>mode_edit</mat-icon>
            <input [(ngModel)]="lastName" type="text" matInput placeholder="dummy@123">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>About Yourself</mat-label>
            <mat-icon matPrefix>mode_edit</mat-icon>
            <input [(ngModel)]="aboutYourself" type="text" matInput placeholder="dummy@123">
        </mat-form-field>
        <label>Upload profile:</label>
        <input (change)="pickProfile($event)" type="file" placeholder="dummy@123">
    </div>
</div>