<div class="container">
    <div *ngIf="courseList.length;else elseBlock">
        <div class="subContainer">
            <div class="courseCardContainer">
                <app-course-card class="courcard" [course]="course" *ngFor="let course of courseList" ></app-course-card>
            </div>
            <div class="checkoutDetail">
                <div class="checkoutContainer">
                    <div>Cart detail</div>
                    <div class="itemDiv">Items <span style="font-size: 12px;color: #666;">({{courseList.length}} items)</span></div>
                    <div *ngFor="let course of courseList" class="cartItems" style="display: flex;">
                        <div>{{course.courseName}}</div>
                        <div>{{course.actualPrice}}</div>
                    </div>
                    <div class="checkoutBtn">
                        <button mat-raised-button color="primary">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="noItem">
            <img src="./assets/images/cart.png" alt="">
            <div>Cart is empty add items to checkout</div>
        </div>
    </ng-template>
</div>