.courseContainer{
    display: flex;
    gap: 12px;
    padding: 20px;
    flex-wrap: wrap;
    .courseCard{
        border: 1px solid var(--primary);
        padding-block: 8px;
        padding-inline: 12px;
        width: 20% ;
        .courseHeader{
            display: flex;
        }
    }
}