:root {
  --primary: #3bd1a6
}
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat" !important;font-weight: 800; transition: 0.5s all;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.ttf');
}
