@import 'ngx-toastr/toastr';
:root {
  --primary: #78c9b2
}
html, body { height: 100%; }
body { margin: 0; font-family: "Montserrat" !important;font-weight: 800; transition: 0.5s all;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat.ttf');
}

.noItem{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  gap: 22px;
  font-size: 22px;
  font-weight: 500;
  img{
    height: 75px;
    width: 75px;
  }
}

h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Montserrat' !important;
}

.links{
  cursor: pointer;;
}