.container{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 4px;
    .shopIcons{
        width: 40%;
        display: flex;
        justify-content: center;
        gap: 20px;
        .shopIcon {
            font-size: 28px;
        }
    }
    .icon{
        img{
            height: 50px;
            margin-left: 20px;
        }
    }
    .searchBar{
        background-color: #fff;
        display: flex;
        align-items: center;
        padding-inline: 6px;
        padding-block: 4px;
        border-radius: 4px;
        margin-left: 10px;
        input{
            border:0;
            &:focus{
                outline: none;
            }
        }
    }
}
.shopIcon{
    color: #fff;

}
@media screen and (max-width:400px) {
    .icon{
        display: none;
    }
}